# Ignore specific files
training/config.py
preparation/input.json
output_transformed_chat_completion.jsonl
node_modules
config.json
package-lock.json
output.jsonl
output_chatprompt.jsonl
output_sameprompt.jsonl
dirty-data
output_combined.jsonl